{% extends '/Base.html.twig' %}

{% set titleStr = 'My Account' %}

{% block body %}
    {% if not app.user.verified %}
        <div class="alert alert-primary">
            <div>
                Your email hasn't been verified yet. Please, check your emails.
            </div>
            <div>
                If you can't find the email or the link expired, you can ask for a new one:
                {{ form(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}