{% extends '/Base.html.twig' %}

{% set titleStr = "Log in" %}

{% block body %}
    {% if app.user %}
        <p>You are already logged in as {{ app.user.userIdentifier }}.</p>
        {% include 'Include/Button.html.twig' with {'linkInfo': {
            route: 'Security_Logout',
            title: "Log Out",
        }} %}
    {% else %}
        {% if lastAuthError %}
            <div class="alert alert-danger">{{ lastAuthError.messageKey|trans(lastAuthError.messageData, 'security') }}</div>
        {% endif %}

        {{ form(form) }}

        <div class="alert alert-primary">
            No account yet? What are you waiting for!
            {% include 'Include/Button.html.twig' with {'linkInfo': {
                route: 'Registration_Register',
                title: "Register",
            }} %}
        </div>
    {% endif %}
{% endblock %}
