{% extends 'Prefab/CRUD.html.twig' %}

{% set titleStr = entity.name %}
{% set detailsFields = detailsFields|default([]) %}

{% block body %}
    <table>
        {% for detailsField in detailsFields %}
            {% include 'Include/DetailsRow.html.twig' with {'field': detailsField} %}
        {% else %}
            No data found
        {% endfor %}
    </table>
{% endblock %}
