{% extends 'Base.html.twig' %}

{% set titleStr = entity.name %}
{% set typeClass = type|replace({' ': ''}) %}

{% block body %}
    {% block entityDetails %}
    {% endblock %}

    <nav>
        <ul>
            <li><a href="{{ path(typeClass ~ '_List') }}" title="Back to list">Back to list</a></li>
            {# TODO check user is authorized to edit #}
            <li><a href="{{ path(typeClass ~ '_Edit', {'id': entity.id}) }}" title="Edit">Edit</a></li>
        </ul>
    </nav>
{% endblock %}
