{% extends 'Base.html.twig' %}

{% set titleStr = entity.name %}
{% set detailsFields = detailsFields|default([]) %}

{% block body %}
    <table>
        {% for detailsField in detailsFields %}
            {% include 'Include/DetailsRow.html.twig' with {'field': detailsField} %}
        {% else %}
            No data found
        {% endfor %}
    </table>

    <nav>
        <ul>
            <li><a href="{{ path(type ~ '_List') }}" title="Back to list">Back to list</a></li>
            {# TODO check user is authorized to edit #}
            <li><a href="{{ path(type ~ '_Edit', {'slug': entity.slug}) }}" title="Edit">Edit</a></li>
        </ul>
    </nav>
{% endblock %}
