{% extends 'Prefab/Details.html.twig' %}

{% block entityCommonDetails %}
    <tr>
        <td>
            <label>slug :</label>
            <label>{{ entity.slug }}</label>
        </td>
    </tr>
{% endblock %}
