{% extends 'Base.html.twig' %}

{% set new = entity.id is null %}
{% set titleStr = (new ? 'Create' : 'Edit') ~ ' ' ~ type %}

{% block body %}
    {{ form(form) }}

    <nav>
        <ul>
            <li><a class="btn" href="{{ path(type ~ '_List') }}" title="List">list</a></li>
            {% if not new %}
                {# TODO - maybe use a hidden field or something to save the original slug (before edition) so we can return to the correct page #}
                <li><a href="{{ path(type ~ '_Details', {'slug': entity.slug}) }}" title="Details">Details</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
