{% set button = {tooltip: button.title, style: 'btn-primary', routeParams: {}}|merge(button) %}

{% if app.current_route is not same as button.route %}
    <a class="btn btn-sm {{ button.style }}" href="{{ path(button.route, button.routeParams) }}" title="{{ button.tooltip }}">{{ button.title }}</a>
{% endif %}