<tr>
    <td>
        <div>
            {{ field|u.snake|replace({'_': ' '})|capitalize }}:
        </div>
    </td>
    <td>
        <div>
            {% with %}
                {% set fieldValue = attribute(entity, field) %}
                {% if fieldValue|isNameableEntity %}
                    {% include 'Include/Link.html.twig' with {'link': {route: fieldValue|classSimpleName ~ '_Details', routeParams: {'slug': fieldValue.slug}, title: fieldValue.name}} %}
                {% else %}
                    {{ fieldValue|mixedToString }}
                {% endif %}
            {% endwith %}
        </div>
    </td>
</tr>