<tr>
    <td>
        <div>
            {{ field|u.snake|replace({'_': ' '})|capitalize }}:
        </div>
    </td>
    <td>
        <div>
            {% with %}
                {% set fieldValue = attribute(entity, field) %}
                {% if fieldValue|isNameableEntity %}
                    {% include 'Include/Link.html.twig' with {'linkInfo': {
                        route: fieldValue|getClassSimpleName ~ '_Details',
                        routeParams: {'slug': fieldValue.slug},
                        title: fieldValue.name,
                        permission: READ,
                        entityClass: fieldValue|getClassSimpleName,
                        showTextIfNotGranted: true,
                    }} %}
                {% else %}
                    {{ fieldValue|mixedToString }}
                {% endif %}
            {% endwith %}
        </div>
    </td>
</tr>