<nav>
    <ul>
        <li><a href="{{ path('Main_Home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('Character_List') }}" title="Characters">Characters</a></li>
        <li><a href="{{ path('WeaponCategory_List') }}" title="Weapon Categories">Weapon Categories</a></li>
    </ul>
</nav>