<li class="nav-item">
    <a class="navbar-link {{ app.current_route starts with (navItem.path|split('_')[0]) ? 'state-currentRoute' : '' }}"
       href="{{ path(navItem.path) }}" title="{{ navItem.title }}">{{ navItem.title }}</a>
</li>