{% extends 'Prefab/DetailsWithSlug.html.twig' %}

{% block entityDetails %}
    <tr>
        <td>
            <label>color :</label>
            <label>{{ entity.color }}</label>
        </td>
    </tr>
{% endblock %}
