{% extends '/Entity/Prefab/CRUD.html.twig' %}

{% set titleStr = 'Delete ' ~ type ~ ': ' ~ entity.name %}

{% block body %}

    {% include 'Include/ParentFieldsList.html.twig' with {'parentFieldsInfo': {
        list: parentFields.emptyFields,
        title: "These parent entities are not set, so there is no risk of cascade data loss:",
        style: "alert alert-success",
    }} %}

    {% include 'Include/ParentFieldsList.html.twig' with {'parentFieldsInfo': {
        list: parentFields.lockedFields,
        title: "Can't delete " ~ entity.name ~ " because these parent entities can't be automatically deleted:",
        style: "alert alert-warning",
    }} %}

    {% include 'Include/ParentFieldsList.html.twig' with {'parentFieldsInfo': {
        list: parentFields.cascadeFields,
        title: "Warning - these parent entities will be automatically deleted if you delete this one:",
        style: "alert alert-danger",
    }} %}

    {% if form is not null %}
        <div class="alert alert-warning">You are about to delete {{ entity.name }}</div>
        {{ form(form) }}
    {% endif %}
{% endblock %}
