{% extends '/Base.html.twig' %}

{% set titleStr = type ~ ' List' %}

{% block bodyTitle %}{{ titleStr }} ({{ entities|length }}){% endblock %}

{% block bodyTitleMenu %}
    {% include '/Include/Button.html.twig' with {'button': {route: type ~ '_Create', title: "Add " ~ type}} %}
{% endblock %}

{% block body %}
    <table class="table table-hover bg-transparent d-block">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% include '/Include/Link.html.twig' with {'link': {route: type ~ '_Details', routeParams: {'slug': entity.slug}, title: entity.name}} %}
                </td>
                <td>
                    {% set buttons = [
                        {route: type ~ '_Details', routeParams: {'slug': entity.slug}, title: 'Details'},
                        {route: type ~ '_Edit', routeParams: {'slug': entity.slug}, title: 'Edit'},
                        {route: type ~ '_Delete', routeParams: {'slug': entity.slug}, title: 'Delete', style: 'btn-danger'},
                    ] %}
                    {% for button in buttons %}
                        {% include '/Include/Button.html.twig' with {'button': button} %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}