<h1>Hi! You already have an account!</h1>

<p>
    You tried to create an account with this email, but you already have one. <br>
    Forgot your password? Use the link in the log-in form.
</p>

<p>
    Cheers!
</p>
